starkboard-env/*
__pycache__/*
starkboard/__pycache__/
starkboard/ecosystem/__pycache__/
.env
swagger.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
